@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

h1,h2,h3,h4,h5,h6,span,li,td,th, a, button, input,textarea, select, label, p{
    font-family: 'Almarai', sans-serif !important;
}
:-ms-input-placeholder{
    font-family: 'Almarai', sans-serif !important;
}
.brand-name, .brand-slogan{
    left: 120px !important;
}

.sponsors-area-colorfull-border .single {
    border: 2px solid #00192f !important;
}
.sponsors-area-colorfull-border .single:hover {
    border: 2px solid #ffffff !important;
}

.main-search {
    border: 2px solid #00192f !important;
    border-radius: 5px !important;
    /* box-shadow: 0 8px 6px -6px rgba(50,51,51,.4); */
}
.main-search-container .lgx-inner {
    padding: 4rem 0 4rem 0 !important;
}
.single-name-sub {
    line-height: 3 !important;
    left: 50px !important;
    right: 50px !important;
    color: #e49d23 !important;
    background: hsl(0deg 0% 100% / 0%) !important;
    font-size: 2.5rem !important;
}

.sponsors-area .single {
    box-shadow: none !important;
    width: 40% !important;
    border-radius: 2px !important;
    height: 240px !important;
}
.sponsors-area .single-name {
    text-shadow: 0 0 0 #00192f00 !important;
}

.lgx-single-news {
    padding: 0.6rem 0.6rem 2.6rem !important;
    border-radius: 2px !important;
    box-shadow: 0 1px 1px 1px rgba(52,40,104,.1) !important;
}
.lgx-single-news .single-news-info {
    padding: 20px 1rem !important;
}
.lgx-banner-info .subtitle {
    font-size: 4rem;
    font-weight: 600;
    color: #ec398b;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0) !important;
    letter-spacing: 3px;
}

.breadcrumb-area .breadcrumb {
    background-color:  #E49D23 !important;
    border-radius: 2px !important;
    margin-bottom: 20px !important;
    box-shadow: 0 0 0 rgb(27 137 239 / 0%), 0 0 0 rgb(27 137 239 / 0%) !important;
}
.lgx-btn-red {
    background: #E49D23 !important;
}

.lgx-registration-form-box input.form-control, .lgx-registration-form-box input.wpcf7-form-control {
    border-radius: 2px !important;
    height: 50px !important;
}
.lgx-registration-form-box {
    background: #E49D23 !important;
}
.lgx-registration-form form > .lgx-btn-white{
    width: 50% !important;
}
.lgx-btn-white {
    color: #090c0e !important;
}

.lgx-page-wrapper > .container-fluid > .row > .col-lg-3{
    background: #f4f4f461 !important;
    border-radius: 2px !important;
    padding: 20px 30px !important;
}

.form-control{
    height: 45px !important;
    list-style: 40px !important;
}
.lgx-header .menu-onscroll, .lgx-footer-black .lgx-inner-footer, .lgx-schedule, .lgx-schedule-dark{
    background: rgb(25 28 30 / 95%) !important;
}
.lgx-schedule-ligh .lgx-heading > .heading, .lgx-footer-bottom > p{
    color: #181b1c !important;
}
.lgx-heading-white .heading, .lgx-schedule-cities_events .heading{
    color: #ffffff !important;
}
.lgx-schedule-light .heading{
    color: #181b1c !important;
}

.lgx-footer-single .date, .lgx-footer-single .map-link i,
 .lgx-footer-single .map-link:hover,
  .lgx-footer-bottom p a, .lgx-footer-bottom p span{
    color: #E49D23 !important;
}

.col-grey, .lgx-footer-single > address,
.lgx-footer-single > .footer-title,
.lgx-footer-single > .text,
.lgx-footer-single > .footer-brand-slogan{
    color: hsl(0deg 0% 100% / 86%)!important;
}
.lgx-header .lgx-navbar .lgx-nav .dropdown-menu li a{
    color: #e49d23!important;
    border-left: 2px solid #e49d23 !important;
}
.lgx-header .lgx-navbar .lgx-nav .dropdown-menu{
    border-radius: 2px !important;
}
.dropdown-menu{
    top: 55px !important;
}

.welcome-slider {
    background: #252829 !important;
}
.lgx-btn-black{
    background: #252829 !important;
}
.lgx-header .menu-onscroll {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
    height: 85px !important;
}
.sponsors-area-colorfull .single{
    border-radius: 2px !important;
    background: none !important;
}
.lgx-btn, button, .sponsors-area .single a img {
    border-radius: 2px !important;
}
.form-check a{
    color: #ffffff!important;
}
.lgx-event{
    border-radius: 2px !important;
    box-shadow: 0 0 0 0 #eee !important;
}
.lgx-badge{
    border: 4px double #fff;
    border-radius: 2px;
}
.lgx-about-content-area .lgx-heading .subheading{
    color: #181b1c !important;
}
.lgx-about-service .lgx-single-service-color{
    background: #1b89ef !important;
    background-image: linear-gradient(to right top,#1b89ef,#3395f1,#e49d23,#e49d23,#e49d23) !important;
    box-shadow: 0 15px 35px rgba(27,137,239,.3), 0 5px 15px rgba(227,65,154,.2) !important;
    border-radius: 2px !important;
    height: 185px !important;
}

.lgx-tab-content {
    border: none !important;
    border-radius: 0 2px 2px 2px !important;
    box-shadow: none !important;
}
.lgx-panel .lgx-single-schedule .schedule-info {
    background: #e49d23 !important;
    border: none !important;
    border-radius: 2px !important;
    box-shadow:none !important;
}
.lgx-panel .lgx-single-schedule .schedule-info .time {
    color: #000000 !important;
    border-radius: 2px !important;
    background: #fff !important;
    border: none !important;
}
.lgx-panel .lgx-single-schedule .schedule-info:hover {
    transition-duration: .3s;
    background: #E49D23 !important;
}
.lgx-banner-info .location{
    border-radius: 2px 2px 2px 2px !important;
    color: #ffffff !important;
}
.lgx-tab .nav-pills {
    background: #e49d23 !important;
    border-radius: 2px 0 2px 2px !important;
    box-shadow: 0 13px 35px rgba(0,25,47,.2) !important; 
}
.lgx-tab .nav-pills li {
    border-radius: 2px 0 0 2px !important;
}

.lgx-photo-gallery-black, .lgx-photo-gallery-black .lgx-inner{
    background: #181c1e !important;
}

.lgx-event__tag span:nth-child(1n){
    background: rgb(228 157 35) !important;
    border-top-left-radius: 2px !important;

}
.lgx-event__tag span:nth-child(2n) {
    background: rgba(0,25,47,.6) !important;
    border-bottom-left-radius: 2px !important;
    border-top-left-radius: 0 !important;
    color: #fff !important;
    border-bottom: 2px solid #fff !important;
}

.lgx-tab .nav-pills li a p{
    color: #ececec !important;
}
 .lgx-tab .nav-pills .active p{
    color:  #181c1e !important;;
}

.breadcrumb-area .breadcrumb .active{
    color: #ffffff !important;
}
.lgx-contactform .form-control {
    background-color: #251d1d00 !important;
    background-image: none;
    border-radius: 2px !important;
    box-shadow: none !important;
    transition: none !important;
}
.lgx-btn, button, a{
    box-shadow: none !important;
}
.lgx-panel .lgx-single-schedule.expired-event .schedule-info .time.event-ended span, .lgx-panel .lgx-single-schedule.expired-event .schedule-info .time.event-outofstock span, .lgx-panel .lgx-single-schedule.outofstock-event .schedule-info .time.event-ended span, .lgx-panel .lgx-single-schedule.outofstock-event .schedule-info .time.event-outofstock span{
    color: #000000 !important;
}

.lgx-registration-form-box input.form-control, .lgx-registration-form-box input.wpcf7-form-control{
    background: #e8e8e8 !important;
    color: #251d1d !important;
}

.lgx-registration-form-box input.form-control, .lgx-registration-form-box input.wpcf7-form-control:active{
    background: #e8e8e8 !important;
    color: #251d1d !important;
}

.sponsors-area-colorfull-border > .single > a > img{
    height: 280px !important;
}

#lgx-travelinfo > .lgx-inner > .container > .row > .col-xs-12 > .lgx-heading > .heading{
    color: #251d1d !important;
}
.lgx-schedule-light, .lgx-schedule-categories{
    background: linear-gradient(-45deg, #ffffff, #ffffffe1, #ffffff, #ffffffe5) !important;
	background-size: 400% 400% !important;
	animation: gradient 15s ease infinite !important;
}
@keyframes categories {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.lgx-header .navbar-collapse.collapse.in{
    min-height: 25vh !important;
    background: #252829 !important;
    padding-left: 31px !important;
}